<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:deadline) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |todo_list_item| %>
      <tr>
        <td><%= link_to todo_list_item.id, todo_list_item_path(todo_list_item) %></td>
        <td><%= todo_list_item.title %></td>
        <td><%= todo_list_item.content %></td>
        <td><%= todo_list_item.deadline %></td>
        <td><%=l todo_list_item.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      todo_list_item_path(todo_list_item), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_todo_list_item_path(todo_list_item), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      todo_list_item_path(todo_list_item),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>